
.top-menu {
    background: #1976d2;
    padding: 2px 15px;
}

.logo {
  max-height: 55px;
}


.courses {
    max-width: 400px;
    margin: 50px auto;
    padding-bottom: 40px;
}

.demoCard{
    border: 1px solid grey;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
}