<div class="top-menu">

  <img class="logo"
       src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>

<div class="demo">
  <div class="demoCard">
  {{title | titlecase }}
  </div>
  <div class="demoCard">
    {{price | currency:'EUR':true:'1.2-2'}}
  </div>
  <div class="demoCard">
    {{startDate | date:'dd MMM yyyy'}}
  </div>
  <div class="demoCard">
    {{rate | percent:'2.2-2'}}
  </div>

  <div class="demoCard" *ngFor="let pair of course | keyvalue">
    {{pair.key}}: {{pair.value}}
  </div>

</div>

<div class="courses">

  <app-course-card *ngFor="let course of courses; index as i"
  (courseSelected)="onCourseSelected($event)" 
  [course]="course"
  [cardIndex]="i + 1">
  <!-- additional features for ngFor:
  index as i; 
  first as isFirst; 
  last as isLast;
  even as isEven;
  odd as isOdd 

  [class.is-first]="isFirst"
  [class.is-last]="isLast"
  [class.is-even]="isEven"
  [class.is-odd]="isOdd"
-->
</app-course-card>

</div>
